@charset "UTF8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #736355,#A69581);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #27201a96;
}

h1 {
    color: #40352B;
    text-align: center;
    text-shadow: #1814106e 1px 1px 0px;
}

h2 {
    color: #A69581;
}

p {
    text-align: justify;
}